:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background: #f5f5f5; */
}

h1 {
  padding: 20px;
  margin: 0;
}

.messages {
  /* flex: 1; */
  /* overflow-y: auto; */
  /* overflow-x: auto; */
  padding: 20px;
}

.message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  max-width: 50%;
  /* margin-left: auto; */

  /* border: 2px solid red; */
}

.message.user {
  background: #007bff;
  color: white;
  margin-left: auto;
}

.message.AI {
  background: #f1f1f1;
  /* margin-left: auto; */
}

.messageAssistant {
  color: #242424;
  background: #f1f1f1;
}

.message strong {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  opacity: 0.8;
}

.message p {
  margin: 0;
}

.inputArea {
  display: flex;
  gap: 20px;
  padding: 20px;
  /* border: 1px solid red; */
}

.inputArea input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.inputArea button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.inputArea button:hover {
  background-color: #0056b3;
}

.inputArea button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
